html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0;
  margin: 0 auto;
	position: relative;
	padding-bottom: 10px;
	text-transform: uppercase;
	top: 44px;
}

.nav ul {
  margin: 0 0 30px;
  text-align: center;
}

.nav li {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
  color: #fff;
	display: inline;
	text-transform: uppercase;
	padding: 0 10px;
}

.nav li:hover {
  color: #31363d;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.row {
  margin-top: 30px;
  padding-left: 400px;
}

li a {
  color:white;
}


li a:hover{

  text-decoration: none;
}

.footer {
  color: #31363d;
	font-size: 10px;
	height: 70px;
	line-height: 70px;
	padding-right: 40px;
  margin-top: 15px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 100px;

}
.cover {
  height: 85%;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #595959;
}


.history h1 {
  text-align:center;
  margin-top: -10px;
  margin-bottom: 30px;
  color: #2F4F4F;
}

.history p {
  text-align: center;
  text-indent: 40px;
  font-size: 16px;
}

#island {
  height:500px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#study {
  text-align: center;
  list-style-position: inside;
  font-weight: bolder;
}

#textbox{
  width: 350px;
  height: 100px;
}

#formhead {
  padding-left: 50px;
}

#buttontime {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#guess {
  color: red;
}
